.spinner1 {
	margin: 100px auto;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 10px;
}
.spinner1 > div {
	background-color: #67cf22;
	height: 100%;
	width: 6px;
	display: inline-block;
	animation: mymove 1.2s infinite ease-in-out;
}
.spinner1 > div:nth-child(2) {
	animation-delay: -1.1s	
}
.spinner1 > div:nth-child(3) {
	animation-delay: -1.0s
}
.spinner1 > div:nth-child(4) {
	animation-delay: -0.9s
}
.spinner1 > div:nth-child(5) {
	animation-delay: -0.8s
}
.spinner1 > div:nth-child(6) {
	animation-delay: -0.7s
}
@keyframes mymove {
	0%, 40%, 100%{transform: scaleY(0.4);}
	20%{transform: scaleY(1);}
}
.spinner2 {
	width: 60px;
	height: 60px;
	position: relative;
	margin: 100px auto;
}
.spinner2 > div {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #67cf22;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	left: 0px;
	animation: mya 2.0s infinite ease-in-out;
}
.spinner2 > div:nth-child(2) {
	animation-delay: -1s	
}
@keyframes mya {
	0%, 100% {transform: scale(0.0);}
	50% {transform: scale(1.0);}

}