body {
	background-color: #666;
	text-align: center;
	
}
.font { font: bold 55px "Microsoft YaHei";}
.font1 {
	color: #fff;
	text-shadow: 0px 0px 20px red;
	/*text-shadow: 2px 2px 3px red;*/	
}
.font2 {
	color: #000;
	text-shadow: 0px 1px 1px #fff;
}
.font3 {
	color: #fff;
	text-shadow: 1px 1px rgba(197, 223, 248, 0.8),
				 2px 2px rgba(197, 223, 248, 0.8),
				 3px 3px rgba(197, 223, 248, 0.8),
				 4px 4px rgba(197, 223, 248, 0.8),
				 5px 5px rgba(197, 223, 248, 0.8),
				 6px 6px rgba(197, 223, 248, 0.8);


}
.textOver1 {
	margin: 30px auto;
	width: 100px;
	padding: 10px;
	border: 1px solid #ccc;
	height: 50px;
	text-overflow: clip;
	overflow: hidden;
}
.textOver2 {
	margin: 10px auto;
	width: 100px;
	padding: 10px;
	border: 1px solid #ccc;
	/*height: 50px;*/
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.textOver3 {
	margin: 10px auto;
	width: 100px;
	height: 50px;
	box-sizing: content-box;
	padding: 10px;
	border: 1px solid #ccc;
	text-overflow: ellipsis;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}