.rect {
	width: 100px;
	height: 100px;
	background-color: red;
	position: fixed;
	animation: mymove 2s infinite;
}
@keyframes mymove{
	/*from {top: 0; left: 0;}
	to {top: 0; left: 80%;}*/
	0% {top:0; left: 20%; background: red;}
	25% {top:0; left: 80%; background: orange;}
	50% {top:80%; left: 80%; background: yellow;}
	75% {top:80%; left: 20%; background: green;}
	100% {top:0; left: 20%; background: blue;}
}