#main {
	margin: 100px auto;
	width: 800px;
	clear: both;
}
#main li {
	list-style: none;
	width: 220px;
	padding: 1px;
	border: 1px solid rgba(255,0,0,0);
	cursor: pointer;
}
#main li:hover {
	border: 1px solid rgba(255,0,0,1);
}
#main li:hover .img img:hover {
	opacity: 0.7;
	transition: all 0.5s;
	
}

.img img {
	width: 220px;
}
.goods_title {
	margin: 10px;
	color: #666;
	height: 36px;
	line-height: 18px;
	overflow: hidden;
}